<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="nav-bar brand" href="#">NavBar</a>

  <button class="navbar-toggler" data-target="#demo" 
            data-toggle="collapse" ><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
              </ul>
            </div>


</nav>



















<!-- <div id="parent">
<div class="card">
  <div class="card-header">
    <button data-toggle="collapse" data-target="#demo">hello</button>
  </div>
  <div id="demo" class="collapse" data-parent="#parent">
    kjediuwehfwejfniwejnfoiewj
  </div>

</div>
<div class="card">
  <div class="card-header">
    <button data-toggle="collapse" data-target="#demo1">hello</button>
  </div>
  <div id="demo1" class="collapse" data-parent="#parent">
    kjediuwehfwejfniwejnfoiewj
  </div>

</div>
<div class="card">
  <div class="card-header">
    <button data-toggle="collapse" data-target="#demo2">hello</button>
  </div>
  <div id="demo2" class="collapse" data-parent="#parent">
    kjediuwehfwejfniwejnfoiewj
  </div>

</div>
</div> -->


<router-outlet></router-outlet>