
  <div class="container-fluid">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <label>First Name:</label>
      <input type="text" class="form-control" formControlName="firstName">
    </div>
    
    <div class="form-group">
      <label>Last Name: </label>
      <input type="text" class="form-control" formControlName="lastName">
    </div> 

    <button class="btn btn-primary" type="submit">Register</button>
    
    </form>

    {{profileForm.value |json}}
  </div>

  <!-- <div *ngFor="let i of a">
      {{i.firstName}} {{i.lastName}}
      <button class="btn btn-secondary" (click)="delete(i)">delete</button>
  </div> -->


<app-display [parentdata]="a"></app-display>
<router-outlet></router-outlet>